<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>index.html</title>
</head>
<body>
	<h1>INDEX</h1>
	<a href="test1">test1</a>
	<a href="test2">test2</a></br>
	<a href="join">join</a>
	<a href="login">login</a>
	<a href="list">list</a>
	<a href="update">update</a>
	<a href="delete">delete</a>
</body>
</html>