<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>main.html</title>
</head>
<body>
	<form name=frm method=post action="login">
		<h1>MAIN</h1>
		id<input type="text" name="id"/>pw<input type="password" name="pw"/>
		<a href="javascript:document.frm.submit()">로그인</a>
		<a href="join.html">가입</a>
	</form>
</body>
</html>